<div id="student-list-component">
  <article id="student-list-search">
    <div class="input-group text-search">
      <div class="form-outline">
        <input
          type="search"
          id="form1"
          name="form1"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="textSearch"
        />
      </div>
      <button type="button" class="btn btn-primary" (click)="search()">
        Search
      </button>
    </div>
  </article>

  <article id="student-list-content">
    <a href="#" routerLink="/create" class="btn btn-primary"
      >Create New Student</a
    >
    <h2>Student List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Age</th>
          <th>Phone number</th>
          <th>Date of birth</th>
          <th>Introduce</th>
          <th>Email</th>
          <th>Majors</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.name }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.phoneNumber }}</td>
          <td>{{ student.dob | date : "dd/MM/yyyy HH:mm:ss" }}</td>
          <td>{{ student.intro }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.majors }}</td>
          <td>
            <a class="btn btn-info" (click)="details(student.id)">View</a>
            <a class="btn btn-primary" (click)="update(student.id)">Edit</a>
            <button (click)="deleteStudent(student.id)" class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>

  <div id="pagination-1">
    <ul class="pagination">
      <li class="page-item" *ngFor="let item of totalPagess">
        <a class="page-link" (click)="onePage(item - 1)">{{ item }}</a>
      </li>
    </ul>
  </div>

  <div id="pagination-2">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <a class="page-link" tabindex="-1" (click)="onePage(-999)">Previous</a>
      </li>
      <li class="page-item">
        <a
          #numberv
          class="page-link"
          tabindex="-1"
          (click)="
            onePage(numberv.textContent ? parseFn(numberv.textContent) - 1 : 0)
          "
          >1</a
        >
      </li>
      <li class="page-item">
        <a
          #numberx
          class="page-link"
          tabindex="-1"
          (click)="
            onePage(numberx.textContent ? parseFn(numberx.textContent) - 1 : 1)
          "
          >2</a
        >
      </li>
      <li
        class="page-item"
        [ngClass]="{ disabled: currentPage + 1 === totalPage }"
      >
        <a class="page-link" tabindex="-1" (click)="onePage(999)">Next</a>
      </li>
    </ul>
  </div>
</div>
