<div class="container">
  <h2>Create New Student</h2>

  <a href="#" routerLink="/student" class="btn btn-primary">Back</a>

  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="form-outline flex-fill mb-0">
      <label for="name">Full Name</label>
      <input
        name="name"
        id="name"
        type="text"
        class="form-control"
        [(ngModel)]="create.name"
      />
      <!-- <div
        *ngIf="f['title'].touched && f['title'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['title'].errors && f['title'].errors['required']">
          Title is required.
        </div>
      </div> -->
    </div>

    <div class="form-outline flex-fill mb-0">
      <label for="age">Age</label>
      <input
        name="age"
        id="age"
        type="text"
        class="form-control"
        [(ngModel)]="create.age"
      />
      <!-- <div
        *ngIf="f['body'].touched && f['body'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['body'].errors && f['body'].errors['required']">
          Body is required.
        </div>
      </div> -->
    </div>

    <div class="form-outline flex-fill mb-0">
      <label for="phoneNumber">Phone number</label>
      <input
        name="phoneNumber"
        id="phoneNumber"
        type="text"
        class="form-control"
        [(ngModel)]="create.phoneNumber"
      />
    </div>

    <!-- <div class="form-outline flex-fill mb-0">
      <label for="dob"></label>
      <input
        name="dob"
        id="dob"
        type="text"
        class="form-control"
        [(ngModel)]="create.dob"
      />
    </div> -->

    <div class="md-form md-outline input-with-post-icon datepicker">
      <label for="dob">Date of birth</label>
      <input
        placeholder="Select date"
        type="date"
        name="dob"
        class="form-control"
        [(ngModel)]="create.dob"
      />
    </div>

    <div class="form-outline flex-fill mb-0">
      <label for="intro">Introduce</label>
      <input
        name="intro"
        id="intro"
        type="text"
        class="form-control"
        [(ngModel)]="create.intro"
      />
    </div>

    <div class="form-outline flex-fill mb-0">
      <label for="email">Email</label>
      <input
        name="email"
        id="email"
        type="text"
        class="form-control"
        [(ngModel)]="create.email"
      />
    </div>

    <div class="form-outline flex-fill mb-0">
      <label for="majors">Major</label>
      <input
        name="majors"
        id="majors"
        type="text"
        class="form-control"
        [(ngModel)]="create.majors"
      />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
